@import './../mixin.scss';

header{
    @include flex(center, space-between);
    height: 110px;

    .name{
        @include font(700, 48px);
        margin-left: 100px;
        span{
            color: #00BEE8;
        }
    }

    a:nth-child(3){
        margin-right: 100px;
    }

    a{
        margin: 20px;
        font-size: 23px;
        &:hover{
            color: rgb(0,190,232);
            text-decoration: underline rgb(75,71,255);
        }
    }

}