@import './../mixin.scss';

.aboutMeFlex {
    position: relative;
    z-index: 5;
    height: 100vh;
    margin-left: 100px;
    
    @include flex(center, space-between);

    h1{
        @include font(700, 90px);
    }

    .aboutMe {
        width: 450px;

        p{
            margin-bottom: 35px
        }

        .bulb {
            @include flex(center, start);
            img{
                margin-right: 35px
            }
        }

        .puzzle {
            @include flex(center, start);
            img{
                margin-right: 35px
            }
        }
    }

    .aboutMeImgFlex{
        @include flex(center, center);
    }

    .aboutMeImg{
        width: 500px;
        border-radius: 500px;
        border: 4px solid #00bee8;
        background-color: rgb(20,29,47);
        filter: saturate(1);
    }

    .line{
        width: 260px;
        height: 4px;
        background-color: #00bee8;
    }
    .Placeholder{
        position: absolute;
        right: -100vw;
        width: 100vw;
        height: 4px;
        background-color: #00bee8;
    }
}

@media screen and (max-width: 1610px) {
    .aboutMeFlex {
        margin-left: 50px;
    }
    .line{
        width: 100px !important;
        height: 4px;
        background-color: #00bee8;
    }
}

@media screen and (max-width: 1270px) {

    .aboutMeFlex {
        margin-left: 0px;
        @include flex(center, center);
    }

    .line{
        display: none;
        width: 100px !important;
        height: 4px;
        background-color: #00bee8;
    }

    .aboutMeImg{
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .aboutMeFlex {
        margin-left: 0px;    
    
        h1{
            @include font(700, 60px);
        }
    
        .aboutMe {
            width: 80vw;     
        } 
    }
}

@media screen and (max-width: 450px){
    .aboutMeFlex {
        margin-left: 0px;    
        margin-top: 40px;
    
        h1{
            @include font(700, 42px);
        }
    }
}