<div class="aboutMeFlex">
    <div>
        <h1>
            About me
        </h1>
        <div class="aboutMe">
            <p>
                Hello, my name is John Broda, and I live in Wald ZH in the Canton of Zurich. As a Frontend Developer, I
                have experience in building websites and sophisticated web applications using JavaScript, TypeScript
                and Angular. I'm excited to share my work with you.
            </p>
            <div class="bulb">
                <img src="./../../assets/img/icons/bulbdesktop.png">
                <p>I've completed further training to enhance my skills in frontend development, where I had the
                    opportunity to work on several web applications and collaborate on group projects.</p>
            </div>
            <div class="puzzle">
                <img src="./../../assets/img/icons/puzzledesktop.png">
                <p>I look forward to connecting with like-minded professionals and exploring new opportunities to create
                    innovative digital experiences.
                </p>
            </div>
        </div>
    </div>
    <div class="aboutMeImgFlex">
        <img src="./../../assets/img/background/pfp2.2.png" class="aboutMeImg">
        <div class="line"></div>
    </div>
    <img src="./../../assets/img/background/bgcolors/5.png" class="backgroundColors">
</div>