@import './../mixin.scss';

.startPosition {
    height: 100vh;
    position: relative;
}

.startFlex {
    margin-top: 110px;
    @include flex(center, space-between);
    height: 82%;

    img {
        z-index: 3;
        margin-left: 180px;
        width: 530px;
        height: 795px;
    }

    .nameAndJobFlex {
        @include flex(center);
    }

    .iam {
        @include font(400, 64px);
        transform: rotate(270deg);
        z-index: 10;
    }

    .iamDE{
        @include font(400, 42px);
        transform: rotate(270deg);
        z-index: 10;
    }

    .nameAndJob {
        margin-right: 120px;
        @include flex(start, center, column);
        z-index: 10;

        h1 {
            @include font(700, 90px);
            height: 105px
        }

        h2 {
            @include font(400, 58px);
            color: rgb(75, 71, 255);
            height: 100px
        }
    }

    .letsTalk {
        @include flex();

        a {
            @include button1()
        }
    }

    .spacer {
        margin-bottom: 240px;
    }
}

.scrollDown {
    @include flex(center, center, column);
    position: absolute;
    right: 76px;
    top: 70%;
    z-index: 6;

    p {
        @include font(400, 23px);
        margin-bottom: 60px;
        transform: rotate(90deg)
    }
}

.sozial {
    position: absolute;
    @include flex(center, start);
    top: 81%;
    gap: 40px;
    width: 700px;
    height: 40px;
    z-index: 6;

    .placeholder {
        position: absolute;
        height: 2px;
        width: 100vw;
        left: -100vw;
        background-color: #4B47FF;
    }

    .line {
        height: 2px;
        width: 100px;
        background-color: #4B47FF;
    }

    a:nth-child(6) {
        @include font(400, 23px);
        transition: 0.1s;

        &:hover {
            @include font(800, 23px);
            transition: 0.1s;
            color: #00BEE8;
        }
    }

    img {
        image-rendering: pixelated;
        width: 28px;
        margin: 1px;
        transition: 0.1s;

        &:hover {
            transition: 0.1s;
            width: 30px;
            margin: 0px;
            filter: drop-shadow(0px 0px 4px #00BEE8);
        }
    }

}

@media screen and (max-width: 1610px) {
    .startFlex {
        height: 80%;

        img {
            margin-left: 50px;
            width: 480px;
            height: 715px;
        }

        .iam {
            @include font(400, 54px);
        }

        .iamDE {
            @include font(400, 40px);
        }

        .nameAndJob {
            margin-right: 50px;

            h1 {
                @include font(700, 80px);
            }

            h2 {
                @include font(400, 48px);
            }
        }

        .spacer {
            margin-bottom: 160px;
        }
    }

}

@media screen and (max-width: 1270px) {
    .startFlex {
        @include flex(center, center, column);
        height: 85%;

        img {
            margin-left: 0px;
            width: 371px;
            height: 556px;
        }

        .nameAndJobFlex {
            @include flex(center);
        }

        .iam {
            @include font(400, 45px);
        }

        .iamDE {
            @include font(400, 30px);
        }

        .nameAndJob {
            margin-right: 0px;
            @include flex(start, center, column);

            h1 {
                @include font(700, 70px);
                height: 80px
            }

            h2 {
                @include font(400, 40px);
                color: rgb(75, 71, 255);
                height: 70px
            }
        }

        .spacer {
            @include flex(center, center, row);
            margin-bottom: 0px;
        }

        .letsTalk {
            a {
                margin-top: 0px !important;
                margin-left: 50px;

                &:hover {
                    margin-left: 40px;
                }
            }
        }
    }

    .sozial {
        top: 80%;
    }

    .scrollDown {
        display: none;
    }

}

@media screen and (max-width: 800px) {
    .startFlex {
        height: 78%;

        .iam {
            @include font(400, 32px);
        }

        .iamDE {
            @include font(400, 20px);
        }

        .nameAndJob {
            margin-right: 0px;

            h1 {
                @include font(700, 45px);
                height: 55px
            }

            h2 {
                @include font(400, 29px);
                color: rgb(75, 71, 255);
                height: 45px
            }
        }
    }

    .spacer {
        @include flex(center, center, column !important);
    }

    .letsTalk {
        height: 80px;

        a {
            margin-left: 0px !important;
        }
    }

    .sozial {

        a:nth-child(6) {
            display: none;
        }
    }
}

@media screen and (max-width: 450px) {
    .startFlex {
        height: 75%;

        img {
            width: 315.35px;
            height: 473.025px;
        }

        .nameAndJobFlex {
            margin-top: 10%;
            .iam {
                @include font(400, 30px);
                height: 20px
            }

            .iamDE{
                @include font(400, 18px);
                height: 10px
            }

            .nameAndJob {
                margin-right: 14px;

                h1 {
                    @include font(700, 42px);
                    height: 50px
                }

                h2 {
                    @include font(400, 22px);
                    height: 40px
                }
            }
        }
    }

    .sozial {
        gap: 24px;

        .placeholder {
            width: 70px;
        }
    }
}

@media screen and (max-width: 450px) and (max-height: 780px) {
    .startFlex {
        height: 75%;

        img {
            width: 230.35px;
            height: 350.025px;
        }

        .nameAndJobFlex {
            margin-top: 0%;
            .iam {
                @include font(400, 28px);
                height: 20px
            }

            .nameAndJob {
                margin-right: 14px;

                h1 {
                    @include font(700, 40px);
                    height: 50px
                }

                h2 {
                    @include font(400, 20px);
                    height: 38px
                }
            }
        }
    }

    .letsTalk {
        height: 60px;

        a {
            height: 50px !important;
        }
    }

    .sozial {
        gap: 24px;
        top: 77%;

        .placeholder {
            width: 70px;
        }
    }
}

@media screen and (max-width: 540px) and (max-height: 720px){
    .startFlex {
        img {
            width: 230.35px;
            height: 350.025px;
        }
    }
}