@import './../mixin.scss';

.startFlex {
    @include flex(center, space-between);

    img {
        z-index: -2;
        margin-left: 100px;
        width: 650px;
        height: 705px;
    }

    .nameAndJobFlex {
        @include flex(center);
    }

    .iam {
        @include font(400, 64px);
        transform: rotate(270deg);
    }

    .nameAndJob {
        margin-right: 100px;
        text-align: center;
        @include flex(center, center, column);

        h1 {
            @include font(700, 90px);
        }

        h2 {
            @include font(400, 58px);
            color: rgb(75, 71, 255);
        }
    }

    .letsTalk{
        @include flex();
        p {
            @include flex();
            @include font(400, 23px);
            margin-top: 44px;
            background-color: #00BEE8;
            width: 165px;
            height: 58px;
            border-radius: 10px;
            transition: 0.07s;
            cursor: pointer;
    
            &:hover {
                margin-top: 34px;
                font-weight: 600;
                background-color: #4B47FF;
                width: 175px;
                height: 68px;
            }
        }
    }

    .spacer{
        margin-bottom: 100px;
    }
}

.Vector {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 420px;
    z-index: -1;
}

.sozial {
    @include flex(center, start);
    margin-top: 70px;
    gap: 40px;
    width: 700px;
    height: 40px;

    .placeholder {
        height: 2px;
        width: 100px;
        background-color: #4B47FF;
    }

    a:nth-child(5) {
        @include font(400, 23px);

        &:hover {
            color: #4B47FF;
        }
    }

    img {
        width: 28px;
        margin: 1px;

        &:hover {
            width: 30px;
            margin: 0px;
        }
    }

}