@import './../mixin.scss';

.contactPosition{
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 6;
    @include flex(none, center, column);

}

.message{
    width: 300px !important;
    @include font(700 !important, 14px !important);
    cursor: default !important;
    background-color: #4B47FF !important;
}

.contact {
    @include flex(center, start);
    
    h1 {
        @include font(700, 90px);
        margin-top: 110px;
    }

    .line {
        width: 50px;
        height: 2px;
        margin-right: 50px;
        background-color: rgb(75, 71, 255);
        margin-top: 110px;
    }

    .Placeholder{
        margin-top: 110px;
        position: absolute;
        width: 100vw;
        left: -100vw;
        height: 2px;
        background-color: rgb(75, 71, 255);
    }
}

.textAndMailFlex {
    @include flex(center, space-between);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 85px;

    .textFlex {
        width: 470px;

        h2 {
            @include font(700, 32px)
        }

        .contactText {
            @include flex(center, start);
            gap: 8px;

            a {
                font-weight: 700;

                &:hover {
                    color: #00BEE8;
                }
            }
        }
    }

    .mailFlex {
        @include flex(center, center, column);
        width: 620px;


        input {
            all: unset;
            width: 620px;
            padding-left: 20px;
            padding-right: 20px;
            height: 50px;
            box-shadow: 0px 0px 0px 2px #4B47FF;
            border-radius: 10px;
            margin-bottom: 32px;
        }

        textarea {
            all: unset;
            width: 620px;
            height: 160px;
            padding-left: 20px;
            padding-right: 20px;
            overflow-wrap: break-word;
            border-radius: 10px;
            box-shadow: 0px 0px 0px 2px #4B47FF;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 16px;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        textarea:-webkit-autofill:active {
            -webkit-text-fill-color: white !important;
            transition: background-color 5000s ease-in-out 0s;
        }

        input:-moz-autofill,
        input:-moz-autofill:hover,
        input:-moz-autofill:focus,
        input:-moz-autofill:active,
        textarea:-moz-autofill,
        textarea:-moz-autofill:hover,
        textarea:-moz-autofill:focus,
        textarea:-moz-autofill:active {
            color: white !important;
            transition: background-color 5000s ease-in-out 0s;
        }

        input:-ms-input-placeholder,
        input:-ms-input-placeholder:hover,
        input:-ms-input-placeholder:focus,
        input:-ms-input-placeholder:active,
        textarea:-ms-input-placeholder,
        textarea:-ms-input-placeholder:hover,
        textarea:-ms-input-placeholder:focus,
        textarea:-ms-input-placeholder:active {
            color: white !important;
            transition: background-color 5000s ease-in-out 0s;
        }

        textarea::-webkit-scrollbar {
            width: 8px;
        }

        textarea::-webkit-scrollbar-track {
            background: #141d2f;
            border-radius: 10px;
            margin: 5px;
        }

        textarea::-webkit-scrollbar-thumb {
            background-color: #141d2f;
            border-radius: 10px;
            border: 2px solid #00BEE8;
        }

        textarea::-webkit-scrollbar-thumb:hover {
            background-color: #555;
        }

        .checkbox {
            @include flex(center, center);
            @include font(400, 14px);
            gap: 16px;

            .custom-checkbox {
                cursor: pointer;
            }

            .custom-checkbox input {
                position: absolute;
                opacity: 0;
                height: 0;
                width: 0;
            }

            .checkmark {
                width: 18px;
                height: 18px;
                background-image: url('./../../assets/img/checkbox/check_box_outline_blank.png');
                background-size: cover;
                display: inline-block;

                &:hover {
                    box-shadow: 0 0 2px #00BEE8;
                }
            }

            .custom-checkbox input:checked+.checkmark {
                background-image: url('./../../assets/img/checkbox/check_box.png');
                box-shadow: 0 0 3px #00BEE8;
            }

            a {
                color: #4B47FF;

                &:hover {
                    color: #00BEE8;
                }
            }
        }

        button {
            all: unset;
            @include button1($width: 200px, $bg: #00BEE8, $bgh: #4B47FF);

            &:disabled {
                background-color: #555;

                &:hover {
                    margin-top: 44px;
                    width: 200px;
                    height: 58px;
                    font-weight: 400;
                }
            }
        }

    }
}

.goUp {
    margin-top: 51px;
    @include flex(center, end);

    a {
        margin-right: 100px;
    }

    img:hover {
        filter: drop-shadow(0px 0px 2px #00BEE8);
    }
}

@media screen and (max-width: 1610px) {

    .textAndMailFlex {
        margin-left: 50px;
        margin-right: 50px;
    }

}

@media screen and (max-width: 1270px) {

    .contactPosition{
        margin-top: 200px;
    }

    .contact {
        .line {
            margin-right: 12px;
        }
    }

    .textAndMailFlex {
        @include flex(center, center, column);
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 50px;

        .textFlex {
            width: 650px;
            margin-bottom: 50px;
            text-align: start;

            .contactText {
                @include flex(center, start);
            }
        }
    }


}

@media screen and (max-width: 800px) {
    .contact {
        h1 {
            @include font(700, 60px);
            margin-top: 110px;
        }

        .line {
            width: 30px;
            margin-right: 20px;
        }
    }

    .textAndMailFlex {
        .textFlex {
            width: 90vw;
        }

        .mailFlex {
            @include flex(center, center, column);
            width: 90vw;

            input {
                width: 80vw;
            }

            textarea {
                width: 80vw;
            }
        }
    }

    .goUp {
        margin-top: 30px;

        a {
            margin-right: 50px;
        }
    }
}

@media screen and (max-width: 450px) {
    .contact {
        margin-top: 160px;

        h1 {
            @include font(700, 42px);
            margin-top: 110px;
        }

        .line {
            margin-right: 12px;
        }
    }

    .contactText {
        font-size: 13px;
    }

    .goUp {
        margin-top: 30px;

        a {
            margin-right: 20px;
        }
    }
}