@import './../mixin.scss';

.skillsFlex {
    margin-top: 260px;
    @include flex(center, space-between);


    .skillIcons {
        @include flex(center, start, column);
        margin-left: 100px;
        text-align: center;

        .images0to3 {
            @include flex(center, space-between);
            width: 700px;
            flex-wrap: wrap;
        }

        .images4to7 {
            margin-top: 54px;
            @include flex(center, space-between);
            width: 700px;
            flex-wrap: wrap;
        }

        .images8to9 {
            margin-top: 54px;
            @include flex(center, start);
            gap: 124px;
            width: 700px;
            flex-wrap: wrap;
        }

        img {
            transition: 0.6s;
            transform: translateY(0px);
        }

        .skill {
            transition: 0.4s;

            &:hover {
                color: #00BEE8;
                filter: drop-shadow(0px 0px 8px #00BEE8);

                img {
                    transition: 0.4s;
                    transform: translateY(-20px);
                }
            }
        }

        p {
            margin: 0px;
            cursor: default;
        }
    }

    .skillTextFlex {
        @include flex(start);

        .line {
            margin-top: 70px;
            width: 60px;
            height: 2px;
            background-color: rgb(75, 71, 255);
        }

        .getintouch {
            @include flex(center, center, column);
            width: 470px;

            .skills {
                text-align: end;
                @include flex(start, none);

                h1 {
                    @include font(700, 90px);
                    margin-bottom: 31px;
                }

                .skillsSpace {
                    margin-right: 100px;
                    width: 470px;
                }
            }
            
            a{
                @include button1(200px)
            }
        }
    }
}