<div class="skillsFlex">
    <div class="skillIcons">
        <div class="images0to3">
            @for(skills of images0to3; track skills;){
            <div class="skill">
                <img src="./../../assets/img/icons/{{ [skills.number] }}.png">
                <p>{{ [skills.name] }}</p>
            </div>
            }
        </div>
        <div class="images4to7">
            @for(skills of images4to7; track skills;){
            <div class="skill">
                <img src="./../../assets/img/icons/{{ [skills.number] }}.png">
                <p>{{ [skills.name] }}</p>
            </div>
            }
        </div>
        <div class="images8to9">
            @for(skills of images8to9; track skills;){
            <div class="skill">
                <img src="./../../assets/img/icons/{{ [skills.number] }}.png">
                <p>{{ [skills.name] }}</p>
            </div>
            }
        </div>
    </div>
    <div class="skillTextFlex">
        <div class="getintouch">
            <div class="skills">
                <div class="skillsSpace">
                    <h1>My skills</h1>
                    <span>
                        I have grown my frontend developments skills that have allowed me to create different real
                        projects.
                    </span>
                </div>
            </div>
            <a href="">Get in touch</a>
        </div>
        <div class="line"></div>
    </div>
</div>