@import './../mixin.scss';

.spacer {
    color: #141d2f;
    width: 1px;
    height: 1px;
    cursor: default;
}

.skillsFlex {
    margin-top: 320px;
    @include flex(center, space-between);


    .skillIcons {
        @include flex(center, start, column);
        margin-left: 100px;
        text-align: center;

        .images0to3 {
            @include flex(center, space-between);
            width: 700px;
            flex-wrap: wrap;
        }

        .images4to7 {
            margin-top: 54px;
            @include flex(center, space-between);
            width: 700px;
            flex-wrap: wrap;
        }

        .images8to9 {
            margin-top: 54px;
            @include flex(center, start);
            gap: 124px;
            width: 700px;
            flex-wrap: wrap;
        }

        img {
            transition: 0.6s;
            transform: translateY(0px);
        }

        .skill {
            transition: 0.4s;

            &:hover {
                color: #00BEE8;
                filter: drop-shadow(0px 0px 8px #00BEE8);

                img {
                    transition: 0.4s;
                    transform: translateY(-20px);
                }
            }
        }

        p {
            margin: 0px;
            cursor: default;
        }
    }

    .skillTextFlex {
        @include flex(start);

        .line {
            margin-top: 70px;
            width: 60px;
            height: 2px;
            background-color: rgb(75, 71, 255);
        }

        .getintouch {
            @include flex(center, center, column);
            width: 470px;

            .skills {
                text-align: end;
                @include flex(start, none);

                h1 {
                    @include font(700, 90px);
                    margin-bottom: 31px;
                }

                .skillsSpace {
                    margin-right: 100px;
                    width: 470px;
                }
            }

            a {
                @include button1(200px)
            }
        }
    }
}

@media screen and (max-width: 1610px) {
    .skillIcons {
        @include flex(center, start, column);
        margin-left: 50px !important;
        text-align: center;

        .images0to3 {
            width: 600px !important;
        }

        .images4to7 {
            width: 600px !important;
        }

        .images8to9 {
            gap: 124px;
            width: 600px !important;

            .skill:nth-child(1):hover {
                color: rgb(0, 0, 0) !important;
                filter: drop-shadow(0px 0px 14px rgb(255, 255, 255)) !important;
            }
        }
    }
}

@media screen and (max-width: 1270px) {
    .skillsFlex {
        margin-top: 148px;
        @include flex(center, start, column-reverse);

        .skillIcons {
            margin-left: 0px !important;

            .images8to9 {
                gap: 124px;
                width: 600px !important;

                .skill:nth-child(1):hover {
                    color: #00BEE8 !important;
                    filter: drop-shadow(0px 0px 8px #00BEE8) !important;
                }
            }
        }

        .skillTextFlex {
            @include flex(start, end);
            width: 100vw;

            .line {
                margin-top: 70px;
                width: 60px;
                height: 2px;
                background-color: rgb(75, 71, 255);
            }

            .getintouch {
                @include flex(end, end, column);
                width: 470px;
                margin-bottom: 80px;

                .skills {
                    .skillsSpace {
                        margin-right: 20px;
                    }
                }

                a {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .skillsFlex {
        margin-top: 60px;

        .skillIcons {
            .images0to3 {
                width: 400px !important;
            }
    
            .images4to7 {
                width: 400px !important;
            }
    
            .images8to9 {
                gap: 24px;
                width: 400px !important;
            }
        }
    }

    .skillTextFlex {
        .line {
            margin-top: 50px !important;
        }

        .getintouch {
            .skills {
                text-align: end;

                h1 {
                    font-size: 60px !important;
                    margin-bottom: 31px;
                }

                .skillsSpace {
                    margin-right: 10px !important;
                    width: 80vw !important;

                }
            }
        }
    }
}

@media screen and (max-width: 450px){
    .skillsFlex {
        margin-top: 40px;
        img{
            width: 10vw;
        }
        .skillIcons {
            @include flex(center, center, row);
            .images0to3 {
                @include flex(center, space-between, column);
                width: 32vw !important;
                height: 350px;
                margin-top: 0px;
            }
    
            .images4to7 {
                @include flex(center, space-between, column);
                width: 32vw !important;
                height: 360px;
                padding-bottom: 6px;
                margin-top: 0px;
            }
    
            .images8to9 {
                @include flex(center, start, column);
                width: 32vw !important;
                height: 350px;
                padding-top: 10px;
                margin-top: 0px;
            }
        }
    }

    .skillTextFlex {
        .line {
            margin-top: 30px !important;
        }
        .getintouch {
            .skills {
                h1 {
                    font-size: 42px !important;
                }
            }
        }
    }
}
