@import './../mixin.scss';

@mixin portfolio($s: end) {
    width: 530px;
    margin-left: 35px;

    h2 {
        @include font(700, 32px);
        color: #4B47FF
    }

    h3 {
        @include font(400, 23px);
        color: #00BEE8
    }

    .link {
        @include flex(center, $s);
        gap: 86px;
    }

    @media (max-width: 800px) {
        width: 400px;
    }

    @media (max-width: 450px) {
        width: 280px;
    }
}

.portfolioPosition {
    position: relative;
    z-index: 6;
    height: 100%;

}

.portfolioFlex {
    @include flex(center, end);


    .portfoliolineFlex {
        @include flex(center, center);
        margin-top: 110px;

        .line1 {
            width: 109px;
            height: 2px;
            margin-right: 36px;
            background-color: rgb(75, 71, 255);
        }

        h1 {
            @include font(700, 90px);
            margin-bottom: 35px;
        }
    }

    .line2 {
        width: 39%;
        height: 2px;
        margin-left: 36px;
        background-color: rgb(75, 71, 255);
        margin-top: 110px;
    }

    .Placeholder {
        margin-top: 110px;
        position: absolute;
        width: 100vw;
        right: -100vw;
        height: 2px;
        background-color: rgb(75, 71, 255);
    }
}

span {
    @include flex(center, center);
    text-align: center
}

.pgspan {
    color: rgb(155, 154, 154);
    font-size: 14px;

    .pg {
        color: rgb(155, 154, 154);
        @include font(700, 15px);
        margin-left: 8px;
        margin-right: 8px;

        &:hover {
            color: #00BEE8
        }
    }
}

.TL {
    @include flex(center, center);
    margin-top: 120px;

    .TLText {
        @include flex(end, center, column);
        @include portfolio();
        text-align: end;
        margin-right: 35px;

        .github:hover {
            margin-left: -10px;
        }
    }
}

.TR {
    @include flex(center, center, row-reverse);

    .TRText {
        margin-left: 35px;
        @include portfolio(start);

        .test:hover {
            margin-right: -10px
        }
    }
}

.test {
    @include button1(152px, #4B47FF, #00BEE8);
}

.github {
    @include button1(136px, none, #00BEE8);
    box-shadow: 0px 0px 0px 1px #00BEE8;
}

@media screen and (max-width: 1270px) {
    .portfolioFlex {
        margin-top: 150px;

        .portfoliolineFlex {

            .line1 {
                width: 30px;
                margin-right: 12px;
            }
        }

        .line2 {
            width: 30%;
            margin-left: 12px;
        }
    }

    .TL {
        @include flex(center, center, column-reverse);
        margin-top: 80px;

        img {
            width: 50%;
        }

        .TLText {
            @include flex(center, center, column);
            text-align: center;
        }

        .test:hover {
            margin-right: -10px
        }
    }

    .TR {
        @include flex(center, center, column-reverse);
        margin-top: 80px;

        img {
            width: 50%;
        }

        .TRText {
            @include flex(center, center, column);
            text-align: center;
            margin: 0px !important;
        }

        .github:hover {
            margin-left: -10px;
        }

    }
}

@media screen and (max-width: 800px) {
    .portfolioFlex {
        margin-top: 60px;

        .portfoliolineFlex {

            .line1 {
                width: 20px;
            }

            h1 {
                @include font(700, 60px);
            }
        }

        .line2 {
            width: 20%;
        }
    }

    span {
        margin-left: 10px;
        margin-right: 10px;
    }

    .pgspan {
        display: none;
    }

}

@media screen and (max-width: 450px) {
    .portfolioFlex {
        margin-top: 40px;

        .portfoliolineFlex {
            h1 {
                @include font(700, 42px);
            }
        }

        .line2 {
            width: 18%;
        }
    }

    span {
        margin-left: 20px;
        margin-right: 20px;
    }


    .link {
        width: 280px;
        gap: 20px !important;
    }
}