@mixin flex($ai: center, $jc: center, $fd: row) {
    display: flex;
    align-items: $ai;
    justify-content: $jc;
    flex-direction: $fd;
}

@mixin font($fw, $fs) {
    font-weight: $fw;
    font-size: $fs;
    margin: 0;
}

@mixin button1($width: 165px, $bg: #00BEE8, $bgh: #4B47FF) {
    @include flex();
    @include font(400, 23px);
    margin-top: 44px;
    background-color: $bg;
    width: $width;
    height: 58px;
    border-radius: 10px;
    transition: 0.07s;
    cursor: pointer;

    &:hover {
        margin-top: 34px;
        font-weight: 600;
        background-color: $bgh;
        width: $width+10;
        height: 68px;
    }
}

@mixin backarrow(){
    @include flex(center, center);
            @include font(700, 48px);
            height: 45px;
            width: 45px;
            border-radius: 200px;
            filter: drop-shadow(0px 0px 4px #00BEE8);
            transition: 0.1s;

            &:hover{
                @include font(700, 50px);
                filter: drop-shadow(0px 0px 8px #00BEE8);
                transition: 0.1s;
                height: 55px;
                width: 55px;
            }
}