@import './../mixin.scss';

.pp{
    position: relative;
    margin: 100px;
    z-index: 20;

    .title{
        @include flex(center, space-between);

        a {
            @include backarrow()
        }
    }
}

@media screen and (max-width: 800px) {
    .pp{
    margin: 25px;
    }
}