@import './../mixin.scss';

.pp {
    position: relative;
    margin: 100px;
    margin-top: 120px;
    z-index: 20;

    .title {
        @include flex(center, space-between);

        a {
            @include backarrow()
        }
    }
}

@media screen and (max-width: 800px) {
    .pp {
        margin-top: 120px;
    }
}