<div class="pp">
    <div class="title">
        <h1>Datenschutzerklärung</h1>
        <a href=""><-</a>
    </div>

    <h2>1. Einleitung</h2>
    <p>Der Schutz Ihrer persönlichen Daten ist mir wichtig. Diese Datenschutzerklärung informiert Sie darüber, dass ich
        keine personenbezogenen Daten erhebe, speichere oder verarbeite, und dass ich keine Cookies auf meiner Website
        verwende.</p>

    <h2>2. Verantwortliche Stelle</h2>
    <p>Verantwortlich für den Datenschutz ist:<br>
        John Broda<br>
        Windeggstrasse 17<br>
        8636 Wald<br>
        Schweiz<br>
        <a href="mailto:John-Broda&#64;hotmail.com">John-Broda&#64;hotmail.com</a><br>
        Tel.: +41 76 448 99 30
    </p>

    <h2>3. Keine Erhebung und Speicherung personenbezogener Daten</h2>
    <p>Ich erhebe und speichere keinerlei personenbezogene Daten. Wenn Sie meine Website besuchen, bleiben Sie
        vollkommen
        anonym, da keine Daten über Sie erfasst werden.</p>

    <h2>4. Keine Verwendung von Cookies</h2>
    <p>Meine Website verwendet keine Cookies. Es werden keine Informationen auf Ihrem Endgerät gespeichert oder
        abgerufen.
    </p>

    <h2>5. Datensicherheit</h2>
    <p>Auch wenn ich keine personenbezogenen Daten erhebe oder speichere, setze ich angemessene technische und
        organisatorische Maßnahmen ein, um die Sicherheit meiner Website zu gewährleisten und sie vor unbefugtem
        Zugriff,
        Verlust oder Missbrauch zu schützen.</p>

    <h2>6. Ihre Rechte</h2>
    <p>Da ich keine personenbezogenen Daten verarbeite, sind Rechte wie Auskunft, Berichtigung, Löschung, Einschränkung
        der
        Verarbeitung, Widerspruch gegen die Verarbeitung und Datenübertragbarkeit nicht anwendbar.</p>

    <h2>7. Änderungen der Datenschutzerklärung</h2>
    <p>Ich behalte mir das Recht vor, diese Datenschutzerklärung jederzeit zu ändern. Die aktuelle Version ist stets auf
        meiner Website verfügbar.</p>

    <h2>8. Kontakt</h2>
    <p>Bei Fragen zum Datenschutz können Sie sich gerne an mich wenden:<br>
        John Broda<br>
        Windeggstrasse 17<br>
        8636 Wald<br>
        Schweiz<br>
        <a href="mailto:John-Broda&#64;hotmail.com">John-Broda&#64;hotmail.com</a><br>
        Tel.: +41 76 448 99 30
    </p>
</div>