@import './app/mixin.scss';

@font-face {
    font-family: poppins;
    src: url(./assets/fonts/poppins-v21-latin-regular.woff2);
}

html{
    scroll-behavior: smooth;
}

body{
    @include flex(center, center, column);
    font-family: poppins;
    background-color: rgb(3, 11, 27);
    width: 100%;
    margin: 0px;
    color: white;
    overflow-x: hidden;
    filter: drop-shadow(0px 4px 8px black);
    z-index: 0;
    a{
        color: white;
        text-decoration: none ;
    }
}